{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
   
    <title>Tech - Membros</title>
  </head>
  <body>
    <header>
        <img src="{% static 'assets/members.png'%}" alt="uma pessoa feliz no computador" class ='logo.png'>
    </header>
    <main>   
    <h1>Área para Membros</h1>
    <p>Seja bem-vindo à área para membros.</p>

    <div class="logout-btn-container">
        <a href="http://localhost:8000/accounts/logout" class="logout-btn>">Logout</a>

    </div>
    
</main>

</body>
</html>
